.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-jogo {
  height: 80%;
  width: 60%;
  display: flex;
  justify-content: center;
  background-color: white;
}